#pilotos {
padding: 20px;
color: #fff;
background-color: #111;
}

form {
margin-bottom: 20px;
}

input, select, button {
margin: 5px;
padding: 8px;
}

button {
background-color: #feda4a;
border: none;
cursor: pointer;
}

table {
width: 100%;
border-collapse: collapse;
}

th, td {
border: 1px solid #555;
padding: 10px;
text-align: center;
}